body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
}

.username, .company {
    font-size: 1.2em;
    font-weight: bold;
}